version: "2.1"
services:
    backup_tuleap:
        build:
            context: .
            dockerfile: Dockerfile-mysql
        image: filament/duplicity:mysql
        hostname: backup-tuleap
        domainname: "{{ tuleap_url }}"
        environment:
            DST: "swift://tuleap_{{ inventory_hostname|lower }}"
            MYSQL_DATABASE: "tuleap"
            MYSQL_HOST: "db"
            MYSQL_PASSWORD: "{{ tuleap_db_root_pass }}"
            MYSQL_USER: "root"
            PASSPHRASE: "{{ tuleap_db_root_pass }}"
            SWIFT_USERNAME: "{{ swift_username }}"
            SWIFT_PASSWORD: "{{ swift_password }}"
            SWIFT_AUTHURL: "{{ swift_authurl }}"
            SWIFT_AUTHVERSION: {{ swift_authversion }}
            SWIFT_TENANTNAME: "{{ swift_tenantname }}"
            SWIFT_TENANTID: "{{ swift_tenantid }}"
            SWIFT_REGIONNAME: "{{ swift_regionname }}"
            JOB_300_WHAT: "backup --full-if-older-than 6D"
            JOB_301_WHAT: "dup remove-all-inc-of-but-n-full 4 --force $$DST $$@"
            JOB_301_WHEN: "daily"
            JOB_302_WHAT: "dup remove-all-but-n-full 4 --force $$DST $$@"
            JOB_302_WHEN: "daily"
        volumes:
            - tuleap_data:/mnt/backup/src/tuleap:z
        networks:
            - tuleap_default
            - public
        command:
            - /etc/periodic/daily/jobrunner

networks:
    tuleap_default:
        driver_opts:
            encrypted: 1
        external: true
    public:
        driver_opts:
            encrypted: 1

volumes:
    tuleap_data:
        external: true
