version: "2.1"

services:
  tuleap:
    image: enalean/tuleap-aio:stable
    container_name: tuleap
    environment:
      DB_HOST: "db"
      MYSQL_ROOT_PASSWORD: "{{ tuleap_db_root_pass }}"
      VIRTUAL_HOST: "{{ tuleap_url }}"
    restart: unless-stopped
    depends_on:
      - db
    networks:
      default:
      inverseproxy_shared:
    volumes:
      - data:/data
    labels:
      traefik.enable: "true"
      traefik.http.routers.tuleap.rule: "Host(`{{ tuleap_url }}`)"
      traefik.http.routers.tuleap.service: "tuleap"
      traefik.http.services.tuleap.loadbalancer.server.port: "80"

  db:
    image: mysql:5.6
    container_name: tuleap_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: {{ tuleap_db_root_pass }}
    volumes:
      - db:/var/lib/mysql:z
      - ./sql_mode.cnf:/etc/mysql/conf.d/sql_mode.cnf

networks:
    default:
        internal: true
        driver_opts:
            encrypted: 1
    inverseproxy_shared:
        external: true

volumes:
    data:
    db:
